# Data Scrapping Classwork           - Jaynil Patel

## Importing required libraries

In [68]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import html5lib

In [2]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\jaynil patel\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\jaynil patel\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\jaynil patel\anaconda3\lib\site-packages (from html5lib) (0.5.1)

## Defining headers and URL

In [69]:
headers = {'User-Agent':'Mozzila/5.0'}
url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'

## Getting the response

In [70]:
response = requests.get(url, headers)
response

## Parsing the response content using BeautifulSoup

In [71]:
soup = BeautifulSoup(response.content,'html.parser')

#### Getting all the tags having class = 'wikitable' using the read_html() method of pandas. They are Tables.
#### As we want only first table which is containg USA states data, we will get it by writing tables[0] and store it into df.

In [72]:
tables = pd.read_html(str(soup), attrs={"class": "wikitable"})
df = tables[0]

In [73]:
df.head()

  Flag, name andpostal abbreviation[8]                                         \
  Flag, name andpostal abbreviation[8] Flag, name andpostal abbreviation[8].1
0                              Alabama                                     AL
1                               Alaska                                     AK
2                              Arizona                                     AZ
3                             Arkansas                                     AR
4                           California                                     CA

        Cities              Ratification oradmission[A] Population(2020)[10]  \
       Capital  Largest[12] Ratification oradmission[A] Population(2020)[10]
0   Montgomery   Huntsville                Dec 14, 1819              5024279
1       Juneau    Anchorage                 Jan 3, 1959               733391
2      Phoenix      Phoenix                Feb 14, 1912              7151502
3  Little Rock  Little Rock                Jun 15, 1836              3011524
4   Sacramento  Los Angeles                 Sep 9, 1850             39538223

  Total area[11]          Reps.
             mi2      km2 Reps.
0          52420   135767     7
1         665384  1723337     1
2         113990   295234     9
3          53179   137732     4
4         163695   423967    52

## We need all the rows and 0th and 5th column(State name and Population). so it is sliced using iloc function of pandas.

In [74]:
new_df = df.iloc[:,[0,5]]

## The names of the columns are defined.

In [75]:
new_df.columns = ['State', 'Population']

In [76]:
new_df.head()

        State  Population
0     Alabama     5024279
1      Alaska      733391
2     Arizona     7151502
3    Arkansas     3011524
4  California    39538223

## Converting the DataFrame into csv file.

In [77]:
new_df.to_csv('states_population.csv',index=False)